################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release/TDF.exe
/bin/Release/TDF.pdb
/bin/Release/aa/TDF.resources.dll
/bin/Debug/TDF.exe
/bin/Debug/TDF.pdb
/bin/Debug/aa/TDF.resources.dll
/obj/Debug/aa/TDF.resources.dll
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/TDF.csproj.CoreCompileInputs.cache
/obj/Debug/TDF.csproj.FileListAbsolute.txt
/obj/Debug/TDF.csproj.GenerateResource.cache
/obj/Debug/TDF.exe
/obj/Debug/TDF.Forms.controlPanelForm.resources
/obj/Debug/TDF.Properties.Resources.resources
/obj/Debug/TDF.Net.Forms.requestsForm.resources
/obj/Debug/TDF.Forms.settingsForm.resources
/obj/Debug/TDF.Net.Forms.addRequestForm.resources
/obj/Debug/TDF.pdb
/obj/Release/aa/TDF.resources.dll
/obj/Release/TDF.csproj.AssemblyReference.cache
/obj/Release/TDF.csproj.GenerateResource.cache
/obj/Release/TDF.Net.Forms.requestsForm.resources
/obj/Release/TDF.exe
/obj/Release/TDF.Net.loginForm.resources
/obj/Release/TDF.pdb
/.vs
.vs/
/.vs/TDF/v17/.suo
/obj/Debug/TDF.csproj.AssemblyReference.cache
/obj/Debug/TDF.csproj.AssemblyReference.cache
