################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release/TDF.exe
/bin/Release/TDF.pdb
/bin/Release/aa/TDF.resources.dll
/bin/Debug/TDF.exe
/bin/Debug/TDF.pdb
/bin/Debug/aa/TDF.resources.dll
/obj/Debug/aa/TDF.resources.dll
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/TDF.csproj.CoreCompileInputs.cache
/obj/Debug/TDF.csproj.FileListAbsolute.txt
/obj/Debug/TDF.csproj.GenerateResource.cache
/obj/Debug/TDF.exe
/obj/Debug/TDF.Forms.controlPanelForm.resources
/obj/Debug/TDF.Properties.Resources.resources
/obj/Debug/TDF.Net.Forms.requestsForm.resources
/obj/Debug/TDF.Forms.settingsForm.resources
/obj/Debug/TDF.Net.Forms.addRequestForm.resources
/obj/Debug/TDF.pdb
/obj/Release/aa/TDF.resources.dll
/obj/Release/TDF.csproj.AssemblyReference.cache
/obj/Release/TDF.csproj.GenerateResource.cache
/obj/Release/TDF.Net.Forms.requestsForm.resources
/obj/Release/TDF.exe
/obj/Release/TDF.Net.loginForm.resources
/obj/Release/TDF.pdb
/.vs
.vs/
/.vs/TDF/v17/.suo
/obj/Debug/TDF.csproj.AssemblyReference.cache
/obj/Debug/TDF.csproj.AssemblyReference.cache
/.vs/TDF/v17/.suo
/bin/Release/Bunifu.UI.WinForms.xml
/bin/Release/config.ini
/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
/bin/Release/System.Data.SqlClient.xml
/bin/Release/System.Numerics.Vectors.xml
/bin/Release/System.CodeDom.xml
/bin/Release/System.Security.Cryptography.Cng.xml
/bin/Release/System.Text.Json.xml
/bin/Release/System.Buffers.xml
/bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
/bin/Release/Newtonsoft.Json.xml
/bin/Release/System.Memory.xml
/bin/Release/System.Text.Encodings.Web.xml
/bin/Release/System.Threading.Tasks.Extensions.xml
/bin/Release/System.ValueTuple.xml
/bin/Release/TDF.exe.config
/bin/Debug/config.ini
/bin/Debug/TDF.exe.config
/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
*.Up2Date
/obj/Debug/TDF.Forms.reportsForm.resources
/obj/Debug/TDF.Net.Forms.requestsForm.aa.resources
/obj/Debug/TDF.Net.loginForm.resources
/obj/Release/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/obj/Release/TDF.csproj.ResolveComReference.cache
*.txt
/obj/Release/TDF.Net.Forms.requestsForm.aa.resources
*.cache
/obj/Release/TDF.Net.Forms.addRequestForm.resources
/obj/Release/TDF.Net.mainForm.resources
/obj/Release/TDF.Forms.controlPanelForm.resources
/obj/Release/TDF.Properties.Resources.resources
/.vs/TDF/FileContentIndex/02546376-7003-4ade-b996-5e4d6bbe14ee.vsidx
/.vs/TDF/FileContentIndex/65c59b4f-faf1-4ef6-a6d8-c1320919e479.vsidx
/.vs/TDF/FileContentIndex/d75cc434-66b0-4dfc-91b1-f41105a47216.vsidx
/.vs/TDF/FileContentIndex/79308daa-9bb7-42b8-88c7-e1cf5cf6adef.vsidx
/bin/Debug/TDF.exe.config
/bin/Release/Bunifu.UI.WinForms.xml
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/TDF.csproj.CopyComplete
/obj/Debug/TDF.csproj.ResolveComReference.cache
/obj/Debug/TDF.Forms.balanceForm.resources
/obj/Debug/TDF.Net.mainForm.resources
/obj/Debug/TDF.Net.loginForm.resources
/obj/Debug/TDF.Net.mainFormNewUI.resources
/Properties/Resources.resx
/Properties/Resources.Designer.cs
/TDF.csproj
/bin/Debug/config.ini
/obj/Debug/TDF.Forms.reportsForm.resources
